---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Search from "../components/react/Search.jsx";
import ApiSearch from "../components/react/ApiSearch";

const searchExamples = [
  "videogames and comics",
  "movies or series",
  "natural sciences",
];
---

<Layout title="The public APIs API">
  <Hero />
  <div class="flex flex-col gap-y-12 w-full lg:px-32">
    <Search
      client:idle
      searchExamples={searchExamples}
    />
    <ApiSearch
      client:idle
    />
  </div>
</Layout>
