---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Search from "../components/react/Search.jsx";
import ApiSearch from "../components/react/ApiSearch";
import { t } from "i18next";

const searchExamples = [
  "videogames and comics",
  "movies or series",
  "natural sciences",
];
---

<Layout
  title="The public APIs API"
  metaDescription="An API to search for publicly available APIs"
>
  <Hero />
  <div class="flex w-full flex-col gap-y-12 lg:px-32">
    <Search client:only searchExamples={searchExamples} />
    <ApiSearch client:only />
  </div>
</Layout>
