---
import githubIcon from "../images/icons/github-142-svgrepo-com-white.svg";
import linkedinIcon from "../images/icons/linkedin-svgrepo-com-white.svg";
---

<footer class="shadow bg-gray-800 px-6 lg:px-8 py-4 h-20">
  <div class="w-full flex items-center justify-between">
    <span class="text-sm sm:text-center text-white">
      The public APIs repo API
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 sm:mt-0 gap-x-6"
    >
      <li>
        <a
          href="https://github.com/Miguel-ASM"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="h-8 w-8 fill-white"
            src={githubIcon.src}
            alt="github profile"
          />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/miguel-angel-simon-full-stack-developer/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="h-8 w-8 fill-white"
            src={linkedinIcon.src}
            alt="linkedin profile"
          />
        </a>
      </li>
    </ul>
  </div>
</footer>
