---
import LanguageSelector from "./LanguageSelector.astro";
import logo from "../images/icons/code-svgrepo-com.svg";
import githubIcon from "../images/icons/github-142-svgrepo-com.svg";
import { localizePath } from "astro-i18next";
import { t } from "i18next";
---

<header
  class="border-slate sticky inset-x-0 top-0 z-50 border-b bg-white shadow"
>
  <nav class="flex items-center justify-between px-8 py-6" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href={localizePath("/")} class="-m-1.5 p-1.5">
        <span class="sr-only">Public APIs API</span>
        <img class="h-8 w-8" src={logo.src} alt="logo" />
      </a>
    </div>
    <div class="flex items-center justify-end gap-1 gap-x-3 lg:flex-1">
      <LanguageSelector />
      <a
        href="https://github.com/Miguel-ASM/public-apis-API"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center gap-x-2 text-sm font-semibold leading-6 text-gray-900"
      >
        {t("header.links.github")}
        <img class="h-8 w-8" src={githubIcon.src} alt="github repository" />
      </a>
    </div>
  </nav>
</header>
