---
import logo from "../images/icons/code-svgrepo-com.svg";
import githubIcon from "../images/icons/github-142-svgrepo-com.svg";
import { LanguageSelector } from "astro-i18next/components";
---

<header
  class="border-slate sticky inset-x-0 top-0 z-50 border-b bg-white shadow"
>
  <nav class="flex items-center justify-between px-8 py-6" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">Public APIs API</span>
        <img class="h-8 w-8" src={logo.src} alt="logo" />
      </a>
    </div>
    <div class="gap-x-16 lg:flex lg:flex-1 lg:justify-end">
      <LanguageSelector showFlag={false} class="my-select-class" />
      <a
        href="https://github.com/Miguel-ASM/public-apis-API"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center gap-x-2 text-sm font-semibold leading-6 text-gray-900"
      >
        View in github
        <img class="h-8 w-8" src={githubIcon.src} alt="github repository" />
      </a>
    </div>
  </nav>
</header>
