---
import { t } from "i18next";
---

<section class="w-full">
  <div class="text-center">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
      {t("hero.h1")}
    </h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      {t("hero.subtitleParagraph.1")}
      <a
        class="text-indigo-600 hover:opacity-60"
        href="https://github.com/public-apis/public-apis/tree/master"
        target="_blank"
        rel="noopener noreferrer"
      >
        {t("hero.subtitleParagraph.2")}</a
      >.
    </p>
    <div
      class="mt-10 flex flex-col items-center justify-center gap-x-6 sm:flex-row"
    >
      <a
        href="#search-section"
        class="inline-block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:w-auto"
        >Use the search tool</a
      >
      <span class="inline-block">or</span>
      <a
        href="#search-api-section"
        class="inline-block w-full rounded-md border border-black bg-white px-3.5 py-2.5 text-sm font-semibold shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 sm:w-auto"
        >Use the api endpoint
      </a>
    </div>
  </div>
</section>
