---
console.log("HEYYYYYY");
import LanguageIcon from "./LanguageIcon.astro";
import { LanguageSelector as LanguageSelect } from "astro-i18next/components";
---

<label class="relative">
  <span class="absolute left-3 -z-10 flex h-full items-center">
    <LanguageIcon />
  </span>
  <LanguageSelect
    class="w-48 cursor-pointer rounded border bg-transparent py-2 pl-10 pr-2 outline-none transition-colors duration-150 hover:border-indigo-500"
  />
</label>
