---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import logo from "../images/icons/code-svgrepo-com.svg";
import { getLocale } from "astro-i18n-aut";

interface Props {
  title: string;
  metaDescription: string;
}

const { title, metaDescription } = Astro.props;
---

<!doctype html>
<html lang={getLocale(Astro.url)} class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={metaDescription} />
    <link rel="icon" type="image/svg+xml" href={logo.src} />
    <title>{title}</title>
    <style>
      .cards-container {
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    </style>
  </head>

  <body class="flex min-h-full flex-col">
    <Header />
    <main
      class="flex min-h-screen grow flex-col items-center gap-y-10 bg-white px-8 pb-12 pt-32"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
